
:root{
    --landing_paga_background_color: #ffffff;
}
.body {
    background: #ffffff;
    position: relative;
    list-style: none;
}
.wrapper{
    justify-self: center;
    width:1920wvh;
    height: 1011vh;
    background-color:var(--landing_paga_background_color);
}